body,
html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    background-color: #f2f2f2;
}

/*--------------------- Scroll bar custom ---------------------*/

/* width */
::-webkit-scrollbar {
    width: 7px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    transition: 1s;
    background: #007fff;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    transition: 1s;
}

/*--------------------- HR Bleu ---------------------*/
hr {
    border-width: 3px;
    border-style: solid;
    max-width: 50px;
}

/*--------------------- Home ---------------------*/
.home{
    /* height: 100vh;
    width: 100%; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.hometext {
    text-align: center;
    top: 0;
    position: absolute;
    color: #fff;
    width: 100%;
    padding-top: 15%;
    font-size: 50px;
}

span.blue {
    color: #007fff;
}

/*--------------------- Background ---------------------*/

#fondVideo {
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    filter: brightness(50%);
}

.tBlue {
    background-color: #007fff;
    color: #f2f2f2;
}

.tWhite {
    background-color: #fff;
}

.tGray {
    background-color: #3e4249;
}


/*--------------------- Commun ---------------------*/



.apropos,
.comp,
.projet,
.contact {
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}

.boxR {
    width: 40%;
    height: 100%;
    margin: 2.5%;
}

.boxL {
    width: 40%;
    height: 100%;
    margin: 2.5%;
}

/*--------------------- Titre ---------------------*/

.titlepart{
    font-size: 40px;

}