body,
html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    background-color: #fff;
}

/*--------------------- Scroll bar custom ---------------------*/

/* width */
::-webkit-scrollbar {
    width: 7px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    transition: 1s;
    background: #000000;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    transition: 1s;
}

/*--------------------- Commun ---------------------*/

.aboutbox,
.skillsbox,
.softwarebox,
.projetbox,
.contactbox {
    height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  
background-color: tomato;
}

.boxR,
.boxL {
    width: 50%;
    height: 100%;
    padding: 10%;
    padding-top: 0;
    
}

.titlebox{
    padding-top: 20%;
    padding-bottom: 20%;
}

