body,
html {
    margin: 0;
    padding: 0;
}

/*--------------------- Scroll bar custom ---------------------*/

/* width */
::-webkit-scrollbar {
    width: 7px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    transition: 1s;
    background: #007fff;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    transition: 1s;
}

/*--------------------- HR Bleu ---------------------*/
hr {
    border-width: 3px;
    border-style: solid;
    max-width: 50px;
}

/*--------------------- Background ---------------------*/

#fondVideo {
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    filter: brightness(50%) ;
}

/*--------------------- Home ---------------------*/
.home {
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

span.blue {
    color: #007fff;
}

/*--------------------- Commun ---------------------*/

.apropos, .comp, .projet, .contact{
    height: 100vh;
    width: 100%;
}



