@import url('https://fonts.googleapis.com/css2?family=Sulphur+Point&display=swap');

@font-face {
    font-family: "logofont";
    src: url('../../font/JumpsSteadyRegular-vmgvE.ttf');
}

body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Sulphur Point', sans-serif;
}

/* ------------------------------- */

.navbar-brand {
    font-family: 'logofont' !important;
    font-size: 30px !important;
}

.nav-item {
    font-family: 'Sulphur Point', sans-serif;
    font-size: 20px !important;
    transition: 0.3s;
}

.aboutcolor{
    color: violet !important;
    font-weight: bold;
}

.skillscolor{
    color: red !important;
    font-weight: bold;
}

.softcolor{
    color: rgb(15, 154, 235) !important;
    font-weight: bold;
}

.projetcolor{
    color: rgb(113, 212, 0) !important;
    font-weight: bold;
}

.contactcolor{
    color: orange !important;
    font-weight: bold;
}

